@font-face {
  font-family: 'MinecraftRegular';
  src: url('../font/MinecraftRegular-Bmg3.otf') ;
  font-weight: normal;
  font-style: normal;
}

.square {
    width: 100px;
    height: 100px;
    background-image: url('../images/tile.png');
    background-repeat: no-repeat;
    background-size: contain;

    font-family: 'MinecraftRegular', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  }
  